numpy>=1.23
sphinx==5.3.0
sphinx_rtd_theme==1.2.2
nbsphinx==0.9.2
jupyter-sphinx==0.4.0
sphinxcontrib-bibtex==2.5.0
openmm>=8.2.0
mdtraj==1.10.1
lxml
# Add any other dependencies your project requires